.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}


/* footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */

/* styles.css */
body {
  background-color: #282c34;
}

h1, h3, p {
  color: #fff;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.container {
  padding: 20px;
}

.text-center h1 {
  color: #f8f9fa;
  font-weight: bold;
}
